# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
dist/
build/
*.egg-info/

# --- Django ---
# Arquivos de banco de dados e mídia
db.sqlite3
db.sqlite3-journal
media/
*.log

# Arquivos de migrações (Opcional: mantenha se quiser versionar as migrações)
# migrations/*.py
# !migrations/__init__.py

# --- Poetry ---
poetry.lock

# --- Pytest ---
.pytest_cache/
.coverage
htmlcov/
.tox/

# --- MkDocs ---
site/
.cache/

# --- Taskipy ---
# Geralmente não gera arquivos, mas se criar logs de execução:
.taskipy/

# --- IDEs e Editores ---
.vscode/
.idea/
.DS_Store
.env